[Unit]
Description=HFast Unsecure Socket

[Socket]
ListenStream = 80
BindIPv6Only = both
FileDescriptorName = http
Service=hfast.service

[Install]
WantedBy = sockets.target
