[Unit]
Description=HTTPd Fast Socket

[Socket]
ListenStream=80
FileDescriptorName=http

ListenStream=443
FileDescriptorName=https

[Install]
WantedBy=sockets.target
