[Unit]
Description=HTTPd Fast
Requires=network.target
After=network.target
PartOf=hfast.socket

[Service]
LimitNOFILE=8192
Type=notify
Restart=on-failure

StandardOutput=journal
StandardError=journal

ExecStart=/etc/hfast/hfast
User=www-data
Group=www-data

NoNewPrivileges=true
# HTTP(80/443)
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

# Filesystem restrictions
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectKernelLogs=true
ProtectClock=true
ProtectHostname=true

# Remove ability to see other processes
ProcSubset=pid
ProtectProc=invisible

# Restrict writable paths
ReadOnlyDirectories=/var/www
ReadWritePaths=/var/log /var/lib/hfast/certs

# Restrict networking further
# this will break LetsEncrypt
# IPAddressDeny=any
# IPAddressAllow=localhost

# Restrict realtime features
RestrictRealtime=true

# Restrict namespaces
RestrictNamespaces=true

# Lock personality (prevents ABI changes)
LockPersonality=true

# Disable ptrace
RestrictSUIDSGID=true

# System call filtering
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

# Remove environment risks
RemoveIPC=true
PrivateUsers=true
ProtectKernelLogs=true
MemoryDenyWriteExecute=true

# CGroup ruling
MemoryLimit=512M

[Install]
Also=hfast.socket
WantedBy=multi-user.target
