[Unit]
Description=HFast Sockets
PartOf=hfast.service

[Socket]
ListenStream = 443
BindIPv6Only = both
[Socket]
ListenStream = 80
BindIPv6Only = both

[Install]
WantedBy = sockets.target
