[Unit]
Description=DeltaJournal
After=network.target
Requires=network.target

[Service]
Type=notify
Restart=on-failure
# 1/4th CPU shares
CPUShares=256
MemoryLimit=100M
# 1/8th IO
BlockIOWeight=128

WorkingDirectory=/home/dj
ExecStart=/home/dj/deltajournal -c=/home/dj/config.toml
User=dj
Group=systemd-journal
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
